
<div *ngIf="resturants$ | async as resturants; else loading" class="card-flex-container">
  <mat-card class="resturant-card" *ngFor="let resturant of resturants">
    <div class="header-container">
      <h2>{{ resturant.name }}</h2>
      <app-start-rating
        [currentRating]="resturant.averageRating"
        class="rating">
      </app-start-rating>
    </div>

    <div class="cuisines">
      <mat-chip-list *ngFor="let cuisine of resturant.cuisines" class="cuisine">
        <mat-chip>{{ cuisine }}</mat-chip>
      </mat-chip-list>
    </div>

    <div class="categories">
      <mat-icon>food_bank</mat-icon>
       <span>{{ formatCategories(resturant.categories) }}</span>
    </div>

    <div>
      <mat-icon>contact_phone</mat-icon>
      <span *ngFor="let phone of resturant.phones">{{ phone }}</span>
    </div>

    <div class="address">
      <mat-icon>location_on</mat-icon>
      <a class="link" href="{{getGoogleMapUrl(resturant.latitude, resturant.longitude)}}" target="_blank">
        {{ formatAddress(resturant.address,resturant.postalCode,resturant.city) }}
      </a>
      <!-- <google-map></google-map> -->
    </div>

    <div class="website">
      <mat-icon>open_in_new</mat-icon>
      <a class="link" *ngFor="let website of resturant.websites" href="{{website}}" target="_blank">
        Website
      </a>
    </div>

  </mat-card>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
